<h3>Create a Story</h3>
<%= form_with model: @story do |form| %>
  <%= form.text_field :title, placeholder: "Story title" %>
  <%= form.text_field :pet, placeholder: "Pet name" %>
  <%= form.text_field :content, placeholder: "Story content" %>
  <%= form.text_field :tldr, placeholder: "Story summary" %>
  <%= form.submit %>
<% end %>