<%= render 'nav' %>
<div>
    <div>
        <h1><%= @story.title %></h1>
        <h2>Featuring <%= @story.pet %></h2>
    </div>

    <p><%= @story.content %></p>
    <p><%= @story.tldr %></p>

    <%= button_to 'Edit', edit_story_path(@story), method: 'get' %>
    <%= button_to 'Remove', story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } %>
    <a href='/stories'> Back to Stories </a>
</div>